---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, COLOR_MAP } from '../config'
import Body from '../components/Body.astro'

const getGradientStyle = (tagArray: string[]) => {
  const colors = tagArray
    .map(tag => COLOR_MAP[tag.toLowerCase()])
    .sort()
    .filter(Boolean) // 過濾掉 undefined 的值，避免無效顏色

  if (colors.length === 0) {
    return { background: `linear-gradient(135deg, #f0f0f0, #d9d9d9)` } // 預設灰色
  }

  return { background: `linear-gradient(135deg, ${colors.join(', ')})` }
}
---

<!doctype html>
<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <Body>
    <Header title={SITE_TITLE} />
    <main class="">
      <div
        class="relative p-4 mx-auto dark:bg-zinc-900 bg-white h-[calc(100dvh-112px)] justify-center items-center flex text-[5rem] overflow-y-hidden"
      >
        <img
          class="absolute top-[400px] left-1/2 -translate-x-1/2 -translate-y-1/2 object-cover"
          src="/android-chrome-512x512.png"
          alt=""
        />
        <div
          class="flex justify-center items-center mt-[450px] text-[12rem] italic dark:text-white text-zinc-800 relative z-10 h-full w-full bg-[#0e5c74] dark:bg-[#ff8dab]"
          style={{
            fontFamily: 'Lilita One',
            WebkitTextStrokeColor: 'transparent',
            WebkitTextStrokeWidth: '3rem',
            WebkitTextFillColor: 'hsl(33, 100%, 96%)',
            // backgroundColor: 'hsl(260 70% 70%)',
            backgroundClip: 'text',
            mixBlendMode: 'hard-light' // 讓文字與背景圖片混合
          }}
        >
          HELLO
        </div>
      </div>
    </main>
    <Footer />
  </Body>
</html>
